@{
    ViewBag.Title = "Home Page";
}
@model TestActiveCampaign.Models.IndexViewModel
<div class="jumbotron">
    <form>
        
        <label>Campaign Name</label>@Html.TextBoxFor(model => model.CampaignName)
        <label>List Name</label>@Html.TextBoxFor(model => model.ListName)
        @*<label>Template Name</label>@Html.DropDownListFor(model => model.SelectedTemplate, Model.Templates)*@
        
    </form>    
</div>

